<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>
		<%= message %>
	</title>
	<link rel="stylesheet" href="css/style.css">
	 <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
	    (function(i, s, o, g, r, a, m) {
	        i['GoogleAnalyticsObject'] = r;
	        i[r] = i[r] || function() {
	            (i[r].q = i[r].q || []).push(arguments)
	        }, i[r].l = 1 * new Date();
	        a = s.createElement(o),
	            m = s.getElementsByTagName(o)[0];
	        a.async = 1;
	        a.src = g;
	        m.parentNode.insertBefore(a, m)
	    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

	    ga('create', 'UA-61313157-1', 'auto');
	    ga('send', 'pageview');
    </script>
</head>

<body>
	<h1><%= message %></h1>
	<form>
		<textarea type="text" name="todo" id="todo" placeholder="What's there to do?" autofocus></textarea>
		<button type="submit">Submit</button>
	</form>
	<div id="todo-container">
		<ul>
			<% for (var i = 0; i < todos.length; i++) { -%>
				<section class="todo-wrapper">
					<li>
						<%= todos[i].todo %>
					</li>
					<div class="delete" data-id='<%= todos[i]._id %>'>✕</div>
					<div class="done">✓</div>
				</section>
				<% } -%>
		</ul>
	</div>
	<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
	<script src="js/scripts.js"></script>
</body>

</html>
